<h1>Listing api_v1_organizations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_organizations.each do |api_v1_organization| %>
  <tr>
    <td><%= link_to 'Show', api_v1_organization %></td>
    <td><%= link_to 'Edit', edit_api_v1_organization_path(api_v1_organization) %></td>
    <td><%= link_to 'Destroy', api_v1_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_api_v1_organization_path %>
