<h1>Listing api_v1_metadata</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_metadata.each do |api_v1_metadatum| %>
  <tr>
    <td><%= link_to 'Show', api_v1_metadatum %></td>
    <td><%= link_to 'Edit', edit_api_v1_metadatum_path(api_v1_metadatum) %></td>
    <td><%= link_to 'Destroy', api_v1_metadatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metadatum', new_api_v1_metadatum_path %>
