<h1>Listing api_v1_facebooks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_facebooks.each do |api_v1_facebook| %>
  <tr>
    <td><%= link_to 'Show', api_v1_facebook %></td>
    <td><%= link_to 'Edit', edit_api_v1_facebook_path(api_v1_facebook) %></td>
    <td><%= link_to 'Destroy', api_v1_facebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facebook', new_api_v1_facebook_path %>
