<div class="container">

  <div class="starter-template">
    <h1>About Good Around Me</h1>
    <p class="lead">
      Good Around Me is the leading mobile hub for everything related to social activities happening around you. It enables you to easily discover, engage and support social good activities driven by non profits, businesses and private initiatives in a mobile, photo-centric experience.
    </p>
    <p>
      Our passion is creating a platform that will make it easier to for you to discover social good activities, strengthen your ongoing engagement with social organizations and help them boost their constant fundraising efforts.
    </p>
  </div>

</div>