<h1>Listing api_v1_passwords</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_v1_passwords.each do |api_v1_password| %>
  <tr>
    <td><%= link_to 'Show', api_v1_password %></td>
    <td><%= link_to 'Edit', edit_api_v1_password_path(api_v1_password) %></td>
    <td><%= link_to 'Destroy', api_v1_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Password', new_api_v1_password_path %>
